################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.tlog
*.enc
*.pdb
*.user
*.db
*.suo
*.ipch
*.exe
*.log
*.obj
*.ilk
*.idb
*.opendb
*.sln
*.filters
*.vcxproj
/ZOJ-2338/ZOJ-2338
