################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HDU-2035/.vs/HDU-2035/v15
/HDU-2035/Debug
/HDU-2035/HDU-2035/Debug
*.tlog
*.enc
*.pdb
*.user
/ZOJ-2338/ZOJ-2338
/HDU-2154
*.db
*.suo
*.ipch
